# Question 1: Performance of schools with art programs versus no art programs

Questions associated with art programs vs. no art programs
2018-2019 Q10 "Which of the following art disciplines did you offer at your school this year (check all that apply)?"
2017-2018 Q10 "Which of the following art disciplines did you offer at your school this year (check all that apply)?"
2016-2017 Q10 "Which of the following art disciplines did you offer at your school this year (check all that apply)?"

In [1]:
#import dependencies
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [16]:
#load data 
#resource for converting:https://medium.com/better-programming/using-python-to-convert-worksheets-in-an-excel-file-to-separate-csv-files-7dd406b652d7

#survey_2014_2015 = "2014-2015_Arts_Survey_Data.csv"
#survey_2015_2016 = "2015-2016_Arts_Survey_Data.csv"
survey_2016_2017 = "2016_-_2017_Arts_Survey_data.csv"
survey_2017_2018 = "2017-2018_Arts_Data_Report (1).csv"
survey_2018_2019 = "Copy of 2018 -2019 Arts Data Report.csv"

#survey_2014_2015_df = pd.read_csv(survey_2014_2015, encoding='utf-8', dtype = 'unicode')
#survey_2015_2016_df = pd.read_csv(survey_2015_2016, encoding='utf-8', dtype = 'unicode')
survey_2016_2017_df = pd.read_csv(survey_2016_2017, encoding='utf-8', dtype = 'unicode')
survey_2017_2018_df = pd.read_csv(survey_2017_2018, encoding='utf-8', dtype = 'unicode')
survey_2018_2019_df = pd.read_csv(survey_2018_2019, encoding='utf-8', dtype = 'unicode')
survey_2018_2019_df.head(1)

,Q0_DBN,Q1_1,Q1_2,Q1_3,Q2_1,Q3_1,Q3_2,Q3_3,Q3_4,Q4_1,...,Q41_6,Q41_7,Q41_8,Q41_9,Q41_10,Q42_1,Q43_1,Q44_1,Q44_2,Q44_3
0,01M015,NaN,NaN,NaN,1,0,1,0,0,0,...,0,1,1,0,0,\n\n2018-19 was another exciting year of art a...,NaN,Rosemary Camera,Kindergarten Teacher,rcamera@schools.nyc.gov

#explore, clean, and merge data

-need to clean school years so that you can merge on school code and school year
-need to use data dictionary to figure out what the survey respondant answered for each question

In [38]:
#look at columns of data
#1819
    #Q10_R1_C1 = Dance, Yes
    #Q10_R1_C2 = Dance, No
    #Q10_R2_C1 = Film, Yes
    #Q10_R2_C2 = Film, No
    #Q10_R3_C1 = Music, Yes
    #Q10_R3_C2 = Music, No
    #Q10_R4_C1 = Theater, Yes
    #Q10_R4_C2 = Theater, No
    #Q10_R5_C1 = Visual Arts, Yes
    #Q10_R5_C2 = Visual Arts, No
Q10_1819columns = [col for col in survey_2018_2019_df if col.startswith(' Q10')]

test = (survey_2018_2019_df[Q10_1819columns])
test.head(3)

,Q10_R1_C1,Q10_R1_C2,Q10_R2_C1,Q10_R2_C2,Q10_R3_C1,Q10_R3_C2,Q10_R4_C1,Q10_R4_C2,Q10_R5_C1,Q10_R5_C2
0,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0

In [68]:
#look at columns of data
#1819
    #Q10_R1_C1 = Dance, Yes
    #Q10_R1_C2 = Dance, No
    #Q10_R2_C1 = Film, Yes
    #Q10_R2_C2 = Film, No
    #Q10_R3_C1 = Music, Yes
    #Q10_R3_C2 = Music, No
    #Q10_R4_C1 = Theater, Yes
    #Q10_R4_C2 = Theater, No
    #Q10_R5_C1 = Visual Arts, Yes
    #Q10_R5_C2 = Visual Arts, No
col_rename_dict = {
    " Q10_R1_C1": "Dance_Yes",
    " Q10_R1_C2": "Dance_No",
    " Q10_R2_C1": "Film_Yes",
    " Q10_R2_C2": "Film_No",
    " Q10_R3_C1": "Music_Yes",
    " Q10_R3_C2": "Music_No",
    " Q10_R4_C1": "Theater_Yes",
    " Q10_R4_C2": "Theater_No",
    " Q10_R5_C1": "VisualArts_Yes",
    " Q10_R5_C2": "VisualArts_No"
}
renamed_df = test.rename(columns=col_rename_dict)
renamed_df

,Dance_Yes,Dance_No,Film_Yes,Film_No,Music_Yes,Music_No,Theater_Yes,Theater_No,VisualArts_Yes,VisualArts_No
0,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...
1541,1,0,0,1,1,0,1,0,1,0
1542,1,0,1,0,1,0,1,0,1,0
1543,1,0,0,1,1,0,0,1,1,0
1544,1,0,0,1,0,1,0,1,1,0
1545,0,1,0,1,1,0,0,1,1,0

In [69]:
#create a column that sums up all the Yes columns
renamed_df['Dance_Yes'] = renamed_df['Dance_Yes'].astype(float)
renamed_df['Dance_No'] = renamed_df['Dance_No'].astype(float)
renamed_df['Film_Yes'] = renamed_df['Film_Yes'].astype(float)
renamed_df['Film_No'] = renamed_df['Film_No'].astype(float)
renamed_df['Music_Yes'] = renamed_df['Music_Yes'].astype(float)
renamed_df['Music_No'] = renamed_df['Music_No'].astype(float)
renamed_df['Theater_Yes'] = renamed_df['Theater_Yes'].astype(float)
renamed_df['Theater_No'] = renamed_df['Theater_No'].astype(float)
renamed_df['VisualArts_Yes'] = renamed_df['VisualArts_Yes'].astype(float)
renamed_df['VisualArts_No'] = renamed_df['VisualArts_No'].astype(float)


renamed_df["Sum of Programs"] = renamed_df.sum(axis=1)
renamed_df.sort_values(by=['Sum of Programs'], ascending =True)

,Dance_Yes,Dance_No,Film_Yes,Film_No,Music_Yes,Music_No,Theater_Yes,Theater_No,VisualArts_Yes,VisualArts_No,Sum of Programs
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
998,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
997,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
996,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
995,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
1511,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0,5.0
1512,0.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,5.0
1513,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,5.0
1515,0.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,5.0
1545,0.0,1.0,0.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0,5.0

In [46]:
#analyze data

In [ ]:
#visualize data